@charset "UTF-8";
html {
  font-size: 62.5%; }

a {
  text-decoration: none; }

body {
  color: #000000;
  font-size: 1.2rem;
  font-family: "游ゴシック Medium", Yu Gothic Medium, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
  line-height: 1.6;
  background-color: #f9f8f6; }

/* Layout
------------------------------------------------------------*/
.block-center, h1 img, h2 img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.clearfix {
  *zoom: 1; }
  .clearfix:after {
    content: "";
    display: table;
    clear: both; }

/*header
------------------------------------------------------------*/
header {
  height: 120px; }
  header #header_in {
    padding-top: 25px;
    padding-bottom: 10px; }
    @media (min-width: 640px) {
      header #header_in {
        padding-top: 40px;
        padding-bottom: 40px; } }

@media (max-width: 640px) {
  h1.pc {
    display: none; } }
@media (min-width: 640px) {
  h1.sp {
    display: none; }

  h1 img {
    margin-left: 0;
    margin-right: 0; } }
.pc_navi_li {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

.navi {
  list-style: none; }
  .navi a {
    padding-right: 20px; }

@media (max-width: 640px) {
  .pc_navi {
    display: none; } }
.social a {
  display: none; }
  @media (min-width: 640px) {
    .social a {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
      padding: 0;
      margin: 0 0 0 10px;
      float: right; } }

@media (max-width: 640px) {
  .pc {
    display: none; } }
@media (min-width: 640px) {
  .sp {
    display: none; } }
.main_img img {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; }

/*パンくず
------------------------------------------------------------*/
.pankuzu {
  background: #e2ddd4 url("../images/list/home_icon.png") no-repeat center left 10px;
  padding-left: 30px;
  margin-bottom: 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.pankuzu p {
  margin-bottom: 10px; }

.pankuzu p a {
  display: inline-block;
  color: #887f69;
  padding: 10px 0; }

/*ハンバーガーメニュー
------------------------------------------------------------*/
#menu {
  cursor: pointer; }

.sp_menu_toggle {
  display: none; }

.sp_navi {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center; }

.sp_navi > div {
  padding: 0;
  margin: 0 5px; }

.sp_navi_li {
  width: 180px;
  position: absolute;
  top: 100x;
  right: 2%;
  z-index: 100;
  border: 1px solid #eee;
  background: white;
  margin: 0;
  padding: 0;
  display: none; }
  .sp_navi_li li {
    list-style: none;
    margin: 0;
    padding: 0; }
    .sp_navi_li li a {
      color: #887f69;
      display: block;
      padding: 10px 8px;
      border-bottom: 1px solid #eee;
      text-decoration: none; }

@media (min-width: 640px) {
  .sp_navi {
    display: none; } }
/*商品リスト
------------------------------------------------------------*/
h2 img {
  padding-top: 20px; }

.sp-new img {
  width: 40%; }

.sp-popu img {
  width: 50%; }

@media (max-width: 640px) {
  h2.pc-new {
    display: none; }

  h2.pc-popu {
    display: none; } }
@media (min-width: 640px) {
  h2.sp-new {
    display: none; }

  h2.sp-popu {
    display: none; }

  h2 img {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding-top: 0;
    margin: 0 0 0 5px;
    padding: 20px 0 0 0; } }
.item_list {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 1px; }
  @media (min-width: 640px) {
    .item_list {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      justify-content: space-between; } }

.item_list_inner {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  display: block;
  width: 50%;
  background-color: white;
  padding: 5px 5px 0 5px;
  border: 2px solid #f9f8f6; }
  .item_list_inner p {
    margin-bottom: 1rem; }
  @media (min-width: 640px) {
    .item_list_inner {
      width: 33.333%;
      padding: 10px 10px 0 10px; } }

.item_list_img img {
  width: 100%; }

.item_list_price {
  display: block;
  padding: 0;
  margin: 10px 0 0 0; }

/*商品詳細
------------------------------------------------------------*/
.wide-box {
  background-color: white;
  padding: 10px; }
  @media (min-width: 640px) {
    .wide-box {
      padding: 60px; } }

.item_name,
.display {
  border-bottom: 1px solid #e3e8cf;
  margin-bottom: 30px; }

.item_name h2 {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  float: left; }

.item_name p {
  float: right; }

.wide-box table {
  width: 100%;
  color: #887f69;
  font-weight: bold; }
  .wide-box table th, .wide-box table td {
    border: 1px solid #e8e4da;
    text-align: center; }
    .wide-box table th form, .wide-box table td form {
      margin-bottom: 0rem;
      padding-top: 5px; }
  .wide-box table tr td {
    background: #f9f9f5; }
  .wide-box table th:first-child, .wide-box table td:first-child {
    padding-left: 15px; }
  .wide-box table th:last-child, .wide-box table td:last-child {
    padding-right: 15px; }
  .wide-box table tr td.no-color {
    background: white; }

.checkbox {
  display: none; }

.checkbox + .checkbox-icon {
  position: relative;
  vertical-align: middle; }

.checkbox + .checkbox-icon:before {
  content: "□";
  color: #e8e4da;
  font-size: 22px; }

.checkbox:checked + .checkbox-icon:before {
  content: "■"; }

@media (min-width: 640px) {
  .order {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start; } }
.order > div > div {
  padding-top: 10px;
  border-top: 1px solid #e8e4da; }

.price, .quantity {
  display: block;
  width: 250px;
  height: auto; }
  .price img, .quantity img {
    padding-top: 20px; }

@media (min-width: 640px) {
  .price, .quantity {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start; } }
input#quantity {
  margin: 15px 0 0 40px;
  display: block;
  height: 15px;
  width: 150px;
  border: 1px solid #e3e8cf; }

@media (max-width: 640px) {
  .addcart {
    display: block;
    text-align: center;
    margin: 0 auto; } }
.price p {
  font-style: italic;
  font-size: 30px;
  font-size: 3rem;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  color: #e80f66;
  margin-bottom: 1rem; }
  .price p span:nth-child(1) {
    font-size: 20px;
    font-size: 2rem; }
  .price p span:nth-child(2) {
    font-size: 15px;
    font-size: 1.5rem;
    color: #000000; }

.item-detail h4,
.item-detail .title {
  font-size: 16px;
  font-size: 1.6rem;
  color: #887f69;
  font-weight: bold; }

.item-detail h4 {
  margin-top: 30px;
  border-bottom: 1px solid #e3e8cf;
  padding-bottom: 10px;
  margin-bottom: 10px; }

.item-detail tr td:nth-child(1) {
  white-space: nowrap; }

/*スライドショー
------------------------------------------------------------*/
#display_img img {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; }
  @media (min-width: 640px) {
    #display_img img {
      max-width: 420px;
      float: left;
      margin-right: 8px; } }

#list_img li {
  list-style: none;
  display: inline-block;
  margin-bottom: 0; }

#list_img li img {
  width: 49px;
  cursor: pointer; }
  @media (min-width: 640px) {
    #list_img li img {
      width: 75px;
      margin-right: 4px;
      margin-bottom: 5px; } }

#list_img li.no-img span {
  display: block;
  width: 49px;
  height: 49px;
  background-color: #eee;
  float: left;
  cursor: default; }
  @media (min-width: 640px) {
    #list_img li.no-img span {
      width: 75px;
      height: 75px;
      margin-right: 4px;
      margin-bottom: 5px; } }

/*BACK,NEXTボタン
------------------------------------------------------------*/
.move_info {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: baseline;
  align-items: baseline;
  justify-content: space-between; }

.move_info div {
  background: #887f69;
  margin-top: 20px; }

.move_info div a {
  display: block;
  padding: 10px 40px;
  text-align: center;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  color: white; }
  @media (min-width: 640px) {
    .move_info div a {
      padding: 10px 60px; } }

/*決済方法など
------------------------------------------------------------*/
.flex-container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; }
  .flex-container img {
    display: block;
    max-width: 100%; }
  @media (min-width: 640px) {
    .flex-container {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      justify-content: space-between;
      -webkit-align-items: stretch;
      align-items: stretch; } }
  .flex-container h3 {
    color: #887f69;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: bold; }
  .flex-container p {
    color: #887f69;
    font-weight: bold; }
  .flex-container span {
    color: #000000;
    display: block; }

.box-A, .box-B {
  display: block;
  background-color: white;
  padding: 20px 20px 5px 20px;
  margin: 0; }
  @media (min-width: 640px) {
    .box-A, .box-B {
      width: 50%; } }

.box-A {
  margin-bottom: 10px; }

@media (min-width: 640px) {
  .box-A {
    margin-right: 10px;
    margin-bottom: 0px; } }
/*フッタ
------------------------------------------------------------*/
footer .container {
  padding: 0 0 35px 0;
  width: 280px;
  margin-top: 85px;
  border-top: 1px solid #887f69;
  text-align: center;
  letter-spacing: 0;
  font-size: 12px;
  font-size: 1.2rem;
  position: relative; }
  footer .container a {
    color: #000000; }
  footer .container span {
    display: block; }
  @media (min-width: 640px) {
    footer .container {
      margin-top: 90px;
      width: 100%;
      font-size: 14px;
      font-size: 1.4rem; }
      footer .container span {
        display: inline; } }
  footer .container p.copy {
    font-size: 10px;
    font-size: 1rem;
    color: #b8b4ac;
    padding-top: 10px; }
    @media (min-width: 640px) {
      footer .container p.copy {
        font-size: 12px;
        font-size: 1.2rem; } }
  footer .container #page-top a {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    font-size: 1.6rem;
    position: absolute;
    top: -60px; }
    @media (min-width: 640px) {
      footer .container #page-top a {
        right: 0;
        width: 100px;
        font-size: 12px;
        font-size: 1.2rem;
        top: -40px; } }

/*サイドバー
------------------------------------------------------------*/
#sidemenu {
  margin-top: 10px; }
  @media (min-width: 640px) {
    #sidemenu {
      margin-top: 0px; } }

/*サイト内検索
------------------------------------------------------------*/
.serch {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  background-color: white;
  padding: 0 20px 1px 20px; }

.serch h3,
.serch h3 img {
  padding: 0;
  margin: 0; }

dl.search1 {
  position: relative;
  background-color: #eee; }

dl.search1 dt {
  margin-right: 40px;
  padding: 5px 0 5px 5px; }

dl.search1 dt input {
  width: 100%;
  height: 24px;
  line-height: 24px;
  background: none;
  border: none; }

dl.search1 dd {
  position: absolute;
  top: 0;
  right: 0; }

dl.search1 dd button {
  display: block;
  padding: 10px;
  background: none;
  border: none; }

dl.search1 dd button span {
  display: block;
  width: 20px;
  height: 20px;
  background: url("../images/top/search_icon.png") no-repeat scroll 0 0; }

.side-title {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 45px;
  margin-top: 10px; }

#pagelink {
  background: #887f69 url("../images/top/next_icon.png") no-repeat center right 10px; }
  #pagelink a {
    display: block;
    padding: 14px 0 0 10px;
    color: white;
    font-weight: bold; }

#cate-menu {
  background: #887f69 url("../images/top/next_icon.png") no-repeat center right 10px;
  position: relative; }
  #cate-menu a img {
    position: absolute;
    top: 18px;
    left: 10px; }

#cate-menu.active {
  background: #887f69 url("../images/top/down_icon.png") no-repeat center right 10px; }

.cate_menu_toggle {
  display: none;
  list-style: none; }

.cate_menu_toggle li {
  list-style: none;
  margin: 0;
  padding: 0; }
  .cate_menu_toggle li a {
    color: #887f69;
    display: block;
    padding: 10px 8px;
    background: white url("../images/top/next_icon_gray.png") no-repeat center right 10px;
    border-bottom: 1px solid #eee;
    text-decoration: none; }
  .cate_menu_toggle li:last-child a {
    border-bottom: none; }

/*ショップインフォ
------------------------------------------------------------*/
.info-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 8px;
  background-color: white; }
  .info-box img.shop-img {
    width: 50%;
    float: left;
    padding-right: 5px; }
    @media (min-width: 640px) {
      .info-box img.shop-img {
        width: 100%;
        float: none;
        padding-right: 0px; } }
  .info-box p {
    margin-bottom: 0; }
  .info-box a img {
    margin-top: 15px;
    margin-bottom: 10px; }
    @media (min-width: 640px) {
      .info-box a img {
        display: block;
        margin-left: auto;
        margin-right: auto; } }

.shopinfo-title {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 45px;
  margin-top: 10px;
  background: #887f69;
  position: relative; }
  .shopinfo-title img {
    position: absolute;
    top: 18px;
    left: 10px; }

/*# sourceMappingURL=style.css.map */
